<div class="container">
    <div class="back-button-container">
        <div class="back-button" routerLink="/home">
            Back to Home Page
        </div>
    </div>
    <div class="title text-center py-4">
        <h1>The Rights of Safe Drug Administration</h1>
    </div>
    <div class="body text-left">
        - Health care professionals play a major role in safe drug administration; this important responsibility must be handled with care and precaution. There are eight rules that have been established for patients during drug administration processes, they state as followed:
        <ol>
            <br>
            <li>
                The Right Patient which suggests the use of at least two patient identifiers. Verification to ensure the medication will be administered to the right patient (ex: name, birth date, etc.) These can often be asked directly but in some cases wristbands and identification numbers might be necessary in matching patient to medication.
            </li>
            <br>
            <li>
                The Right Medication which consists of comparing the drug being administered to the drug order. This insures it acquires desired results. 
            </li>
            <br>
            <li>
                The Right Route/Dose includes method of administration, correct dose and conformation of information required for a written prescription.
            </li>
            <br>
            <li>
                The Right Time includes following the medication or physicians’ instruction schedules on what times a patient should receive said drug. 
            </li>
            <br>
            <li>
                The Right Documentation involves proper documentation after administration (this is especially needed for drugs given on PRN basis). 
            </li>
            <br>
            <li>
                The Right Diagnosis includes being familiar with the patient’s history or diagnosis and knowing if the medications’ purpose matches. 
            </li>
            <br>
            <li>
                The Right Response includes follow ups to ensure patients’ medications have desired effect. 
            </li>
            <br>
            <li>
                The Right to Refuse is making the patient aware of their right to refuse medications, which is followed by documentation of refusal, in that case. 
            </li>
        </ol>
        Responsibility of administering medication does not end with “giving” the drug to the patient. It is important to teach safe practice, make note of these eight rights and be familiar with the professional practice act for the state the healthcare worker is providing in.
    </div>
    <div class="video-container py-5">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/AJOu2Pmj59s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>