<div class="container">
    <div class="back-button-container">
        <div class="back-button" routerLink="/home">
            Back to Home Page
        </div>
    </div>
    <div class="title text-center py-4">
        <h1>Solving Dosage Calculation Problems</h1>
    </div>
    <div class="body text-left">
        In healthcare settings a majority of drugs come from the pharmacy in a correct dose ready to be administered to the patient. However, it is the health care workers responsibly to do a final check on calculations to make sure patient is given correct medication and correct dose. It is very important to make note of decimals and zeros when calculating medication dose manually. Have OVER ordered is a common way for solving medical equations. 
        <div class="video-container py-5">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Mt0g7_BTIEY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>