<div class="container">
    <div class="back-button-container">
        <div class="back-button" routerLink="/home">
            Back to Home Page
        </div>
    </div>
    <div class="title text-center py-4">
        <h1>Principles of Administering Drugs</h1>
    </div>
    <div class="body text-left">
        <div class="row">
            <div class="col-md-6 my-auto">
                - Principles of Administering Drugs requires the healthcare provider to be knowledgeable about the drug that’s being administered. Being aware of the actions, reactions, uses and limitations for the drugs that are commonly dispensed. In addition, proper patient familiarity is important for safe practice. Knowing the patient’s diagnosis can provide insight into their health and allows the patient to be involved which can establish trust and help prevent adverse reactions.
            </div>
            <div class="col-md-6">
                <div class="image-container">
                    <img class="image" src="../../assets/young-male-psysician-with-patient-measuring-blood-pressure.jpg" alt="stock-image">
                </div>
            </div>
        </div>
        <div class="text-center py-5">
            <a href="https://www.sciencedirect.com/science/article/pii/S0260691718311560" target="_blank">https://www.sciencedirect.com/science/article/pii/S0260691718311560</a>
        </div>
    </div>
</div>