/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    font-family: 'DynaPuff', cursive;
}

body {
    background-image: url(./assets/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}