<div class="container">
    <div class="title text-center py-4">
      <h1>Safe Medication Administration</h1>
      <h5>Haley Parker | HPRS2300 Pharmacology</h5>
    </div>
    <div class="buttons">
      <div class="button" routerLink="/safe-drug-administration">
        The Rights of Safe Drug Administration
      </div>
      <div class="button" routerLink="/principles-of-administering-drugs">
        Principles of Administering Drugs
      </div>
      <div class="button" routerLink="/solving-dosage-calculation-problems">
        Solving Dosage Calculation Problems
      </div>
    </div>
    <div class="disclaimer text-center my-5" style="font-size:smaller; font-style:italic;">
      This page contains contents that were created as part of a college course assignment and is intended for informative use and research.
    </div>
</div>