<div class="container">
    <div class="title text-center py-4">
      <h1>Safe Medication Adminisation</h1>
      <h5>Haley Parker | HPRS2300 Pharmacology</h5>
    </div>
    <div class="buttons">
      <div class="button" routerLink="/safe-drug-administration">
        The Rights of Safe Drug Administraion
      </div>
      <div class="button" routerLink="/principles-of-administering-drugs">
        Principles of Administering Drugs
      </div>
      <div class="button" routerLink="/solving-dosage-calculation-problems">
        Solving Dosage Calculation Problems
      </div>
    </div>
</div>